@import "fonts";
@import "mixins";
@import "variables";

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
	box-sizing: border-box;
}

body {
    width: 100%;
    position: relative;
    
    color: $black;
    font-family: Poppins;

    padding: 0;
    margin: 0;

    h1,h2,h3,h4,h5,h6 {
        margin: 0;
    }

    a {
        color: #fff;
        font-family: Poppins;
        text-decoration: none;
        font-weight: 400;
    }

    button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;

        transition: all 300ms ease-in-out;
    }

    ul {
        margin: 0;
        padding: 0 0 0 20px;
        list-style: none;
    }
}